<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusBuild | Welcome</title>
    <link rel="stylesheet" href="/style/index.css">
</head>

<body>
    <header id="header">
        <div class="container">
            <a href="index.html" class="logo">
                <div class="logo-icon"><img src="/assets/img/logo.png" alt="logo"></div>
                Campus<span>Build</span>
            </a>
            <nav class="nav-links" id="navLinks">
                <a href="dashboard.html">Dashboard</a>
                <a href="proyects.html">Proyectos</a>
                <a href="resources.html">Recursos</a>
                <a href="calendary.html">Calendario</a>
            </nav>
        </div>
    </header>
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1>Organiza <span>Facil y Sencillo</span> tus proyectos</h1>
                <p>Aplicación que permite a los equipos de proyecto colaborar de manera más eficiente, mantener un seguimiento detallado del progreso y tomar decisiones.</p>
            </div>
        </div>
    </section>
    <footer>
            </div>
            <div class="footer-bottom">
                <p>© 2026 Campuslands. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <script src="/script/index.js"></script>
</body>
</html>